main {
    display: flex;
    flex-direction: column;
}

#page {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url(../assets/amy-shamblen-x2lm26Rs2PM-unsplash.jpg);
    margin: auto;
    background-size: cover;
}

#card {
    background-size: cover;
    margin: 30px;
    width: 80%;
    height: 100%;
    display: inline-block;
}

#content {
    display: flex;
    gap: 20px;
}

#picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto 0px;
}

#msg {
    display: inline-block;
    width: 45%;
}

#title {
    color: azure;
    font-size: 50px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

#text {
    color: azure;
    font-size: 30px;
    text-align: justify;
    font-family: 'Patrick Hand', cursive;
}

footer {
    color: darkgoldenrod;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 12px;
}